<div class="reg-tab">
    <ul>
      <li class="active"><a href="javascript:void(0);">account</a></li>
      <li><a href="javascript:void(0);">company</a></li>
      <li><a href="javascript:void(0);">payment</a></li>
    </ul>
  </div>
  
     <div class="form-wrapper">
        <h2 class="text-capt text-left">Account Information</h2>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="">first name</label>
              <div class="input">
                <input type="text" class="form-control" autocomplete="off" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="">last name</label>
              <div class="input">
                <input type="text" class="form-control" autocomplete="off" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="">email</label>
              <div class="input">
                <input type="email" class="form-control" autocomplete="off" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="">Phone</label>
              <div class="input">
                <input type="tel" class="form-control" autocomplete="off" />
              </div>
              <span id="email_hint"></span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="">password</label>
              <div class="input pass-input">
                <i></i>
                <input type="text" class="form-control" autocomplete="off" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="">confirm password</label>
              <div class="input pass-input">
                <i></i>
                <input type="text" class="form-control" autocomplete="off" />
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <div class="d-flex align-center flex-end">
              <button type="submit" class="btn btn-secondary">submit</button>
            </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="form-wrapper" *ngIf="false">
        <h2 class="text-capt text-left">Company Information</h2>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="">Company name</label>
              <div class="input">
                <input type="text" class="form-control" autocomplete="off" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="">job title</label>
              <div class="input">
                <input type="text" class="form-control" autocomplete="off" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="">address</label>
              <div class="input">
                <input type="text" class="form-control" autocomplete="off" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="">address2</label>
              <div class="input">
                <input type="text" class="form-control" autocomplete="off" />
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="">country</label>
              <div class="input">
                <input type="text" class="form-control" autocomplete="off" />
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="">city</label>
              <div class="input">
                <input type="text" class="form-control" autocomplete="off" />
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="">Region / state</label>
              <div class="input">
                <input type="text" class="form-control" autocomplete="off" />
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="">zip code</label>
              <div class="input">
                <input type="text" class="form-control" autocomplete="off" />
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="form-wrapper" *ngIf="false">
        <h2 class="text-capt text-left">payment Information</h2>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="">Invoice Frequency</label>
              <div class="input">
                <input type="text" class="form-control" autocomplete="off" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="">Payment Threshold</label>
              <div class="input">
                <input type="text" class="form-control" autocomplete="off" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group mb-0">
              <label for="">Payment Method</label>
              <div class="input">
                <input type="text" class="form-control" autocomplete="off" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="">Payable to</label>
              <div class="input">
                <input type="text" class="form-control" autocomplete="off" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="">Payable Type</label>
              <div class="input">
                <input type="text" class="form-control" autocomplete="off" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="">address</label>
              <div class="input">
                <input type="text" class="form-control" autocomplete="off" />
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="">country</label>
              <div class="input">
                <input type="text" class="form-control" autocomplete="off" />
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="">city</label>
              <div class="input">
                <input type="text" class="form-control" autocomplete="off" />
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="">state</label>
              <div class="input">
                <input type="text" class="form-control" autocomplete="off" />
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="">zip code</label>
              <div class="input">
                <input type="text" class="form-control" autocomplete="off" />
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <div class="d-flex align-center flex-end">
              <button type="submit" class="btn btn-secondary">submit</button>
            </div>
            </div>
          </div>
        </div>
      </div>
  